// main: ../main.scss

// Outlines
.u-outline-all * { outline: 1px solid rgb(246, 22, 203); }

.u-outline-1 { outline: 1px solid rgb(218, 92, 34); }
.u-outline-2 { outline: 1px solid rgb(58, 104, 255); }
.u-outline-3 { outline: 1px solid rgb(247, 247, 59); }
.u-outline-4 { outline: 1px solid rgb(151, 116, 0); }
.u-outline-5 { outline: 1px solid rgb(0, 192, 96); }
.u-outline-6 { outline: 1px solid rgb(0, 77, 128); }
.u-outline-7 { outline: 1px solid rgb(62, 0, 177); }
.u-outline-8 { outline: 1px solid rgb(87, 0, 128); }
.u-outline-9 { outline: 1px solid rgb(128, 0, 0); }
.u-outline-10 { outline: 1px solid rgb(128, 0, 100); }

.u-bg-red { background-color: red}
.u-bg-blue { background-color: blue}
.u-bg-yellow { background-color: yellow}
.u-bg-green { background-color: green}
