.u-uppercase {
  text-transform: uppercase;
}

.u-text-c {
  text-align: center;
}

.u-text-l {
  text-align: left;
}

.u-text-r {
  text-align: right;
}

.u-no-break {
  white-space: nowrap;
}