$color-dark-900: #141C29;
$color-dark-800: #46495C;
$color-dark-700: #67676B;

$color-light-500: #96A1B3;
$color-light-400: #BCC7D6;
$color-light-300: #DAE3ED;
$color-light-200: #F0F4F7;
$color-light-100: #FCFEFF;

$color-gray-500: #A6A9AD;
$color-gray-400: #CDCED1;
$color-gray-300: #E8E9EB;
$color-gray-200: #F5F5F5;
$color-gray-100: #FFFFFF;

$color-background: #F5F5F5;
$color-siteheader-background: hsla(0, 0%, 100%, .96);

$color-shadow-default: hsla(0, 0, 60%, 0.2);
$color-shadow-hover: hsla(0, 2%, 40%, 0.4);

$color-main-600: #0946B0;
$color-main-500: #0E54C4;
$color-main-400: #0567F0;
$color-main-300: #0C85F0;
$color-main-200: #3DAEFF;
$color-main-100: #E6F2FF;

$color-cyan-600: #005C66;
$color-cyan-500: #18717A;
$color-cyan-400: #2897A1;
$color-cyan-300: #4FCBD1;
$color-cyan-200: #7CF7F5;
$color-cyan-100: #D9FFFC;

$color-purple-600: #5A097A;
$color-purple-500: #74119C;
$color-purple-400: #9F32C9;
$color-purple-300: #CB55FA;
$color-purple-200: #DC85FF;
$color-purple-100: #F9EBFF;

$color-social-codepen: #212121;
$color-social-dribble: #EA4C89;
$color-social-facebook: #4A67AD;
$color-social-github: #24292E;
$color-social-gplus: #DB4437;
$color-social-instagram: #BC2A8D;
$color-social-linkedin: #0077B5;
$color-social-twitter: #1DA1F2;