.btn {
  border: none;
  border-radius: rem(8);
  background-color: $color-main-600;
  background-image: linear-gradient($color-main-300, $color-main-600);
  box-shadow: 0 2px 8px -2px $color-light-500;
  color: $color-light-200;
  font-family: $font-body-bold;
  font-weight: 700;
  text-align: center;
  width: 100%;
  height: rem(48);
  padding: rem(8) rem(16);

  &:hover,
  &:focus {
    background-color: $color-main-600;
    background-image: initial;
  }

  @include size-line-height(m);
  @include size-font(m);
}

.btn--round {
  border-radius: rem(32);
}

.btn--secondary {
  border: 1px solid $color-dark-700;
  border-radius: rem(8);
  background-color: $color-light-200;
  background-image: initial;
  box-shadow: initial;
  color: $color-dark-700;

  &:hover {
    background-color: $color-light-200;
    box-shadow: 0 2px 8px -2px $color-light-500;
    background-image: initial;
  }
}

.btn--menu {
  border: 2px solid $color-main-600;
  background-color: $color-light-100;
  background-image: none;
  box-shadow: none;
  color: $color-main-600;
  height: rem(48);
  width: initial;
  padding: rem(8) rem(16);
  margin: rem(8) 0;
  float: right;
  z-index: 100;

  &:hover {
    background-color: $color-light-100;
    box-shadow: none;
    background-image: none;
  }

  @media screen and (min-width: $size-bp-l) {
    display: none;
  }
}

.btn--submit {
  background-color: $color-light-100;

  @media screen and (min-width: $size-bp-l) {
    display: block;
  }
}