.a-go-up {
  background-color: $color-light-300;
  border-radius: rem(8);
  display: block;
  width: rem(48);
  height: rem(48);
  position: fixed;
  padding: rem(2) rem(4) rem(6);
  right: rem(8);
  bottom: rem(8);
  will-change: transform;

  & .icon--go-up {
    display: block;
  }

  &:hover {
    background-color: $color-dark-700;
    color: $color-main-100;
    transform: scale(1.1);
    transition: all 0.2s ease-out;

    & .icon--go-up {
      fill: $color-light-100;
    }

    @include box-shadow-hover;
  }

  @include box-shadow-default;
}