h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  color: $color-dark-800;
  font-feature-settings: "lnum" 1;

  font-family: $font-system;
  font-weight: 700;

  .fonts-loaded & {
    font-family: $font-header-bold;
  }

  margin: rem(16) 0;

  @media screen and (min-width: $size-bp-s) {
    margin: rem(28) 0;
  }
}

.h1 {
  &--blog-post {
    padding: rem(16) rem(24) rem(16);
  }

  @include size-font(h1-s);
  @include size-line-height(h1-s);

  @media screen and (min-width: $size-bp-s) {
    @include size-font(h1);
    @include size-line-height(h1);
  }

  @media screen and (max-width: $size-bp-xxl) and (max-height: $size-bp-xs) {
    @include size-font(h1-s);
    @include size-line-height(h1-s);
  }
}

.h2 {
  position: relative;

  @include size-font(h2-s);
  @include size-line-height(h2-s);

  @media screen and (min-width: $size-bp-xs) {
    @include size-font(h2);
    @include size-line-height(h2);
  }

  @media screen and (max-width: $size-bp-xxl) and (max-height: $size-bp-xs) {
    @include size-font(h2-s);
    @include size-line-height(h2-s);
  }

  &__anchor {
    display: none;

    &:hover {
      color: $color-main-600;
    }

    @media screen and (min-width: $size-bp-xl) {
      display: inline-block;
      position: absolute;
      left: -rem(28);
      padding-bottom: 0;
    }
  }

  &:target {
    border: 4px dotted $color-light-500;
  }

  &--light {
    color: $color-light-100;
  }

  &--blog {
    margin-top: rem(32);

    @media screen and (min-width: $size-bp-m) {
      margin-top: rem(56);
    }
  }
}

.h3 {
  @include size-font(h3-s);
  @include size-line-height(h3-s);

  &--services {
    position: absolute;
    top: rem(32);
    left: rem(32);

    @media screen and (min-width: $size-bp-s) {
      position: static;
    }

    @media screen and (max-width: 22em) {
      max-width: rem(256);
    }
  }

  &--light {
    color: $color-light-100;
  }

  @media screen and (min-width: $size-bp-xs) {
    @include size-font(h3);
    @include size-line-height(h3);
  }

  @media screen and (max-width: $size-bp-xxl) and (max-height: $size-bp-xs) {
    @include size-font(h3-s);
    @include size-line-height(h3-s);
  }
}

.h4 {
  &--light {
    color: $color-light-100;
  }

  @include size-font(h4);
  @include size-line-height(h4);
}