.a-menu__btn {
  border: 2px solid $color-main-600;
  border-radius: rem(4);
  background-color: $color-light-100;
  color: $color-main-600;

  display: block;
  float: right;

  height: rem(40);
  width: inherit;
  width: initial;
  padding-right: rem(14);
  padding-left: rem(16);
  margin-left: auto;
  margin-right: rem(16);
  margin-top: rem(12);

  @media screen and (min-width: $size-bp-m) {
    margin-right: rem(24);
  }

  @media screen and (min-width: $size-bp-l) {
    display: none;
  }
}

.a-menu__icon {
  display: inline-block;
  vertical-align: top;
}