.a-pagination__item {
    display: block;
    padding: $size-8;
    margin: 0 $size-8;

    @media screen and (max-width: $size-bp-xs){
        display: none;
    }
}

.a-pagination__current {
    background-color: $color-dark-800;
    border-radius: 8px;
    padding: $size-8 $size-16;
}

.a-pagination__arrow {
    display: block;
    padding: $size-8;
    margin: 0 $size-8;
    height: $size-48;

    &:first-of-type {
        @media screen and (max-width: $size-bp-xs){
            float: left;
        }
    }

    &:last-of-type {
        @media screen and (max-width: $size-bp-xs){
            float: right;
        }
    }
}
