.a-reading__toc-trigger {
  border-right: 1px solid $color-light-400;

  display: table-cell;

  position: relative;

  text-align: center;

  position: relative;

  &>p {
    display: inline-block;
    vertical-align: middle;
  }
}