.a-tag {
  background-color: $color-light-100;
  border: 1px solid $color-main-600;
  border-radius: rem(4);

  color: $color-main-600;
  display: inline-block;

  text-decoration: none;

  padding: 0 rem(8);
  margin-top: rem(8);
  margin-bottom: rem(8);
  margin-right: rem(8);
  margin-left: 0;

  white-space: nowrap;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }

  @include size-font(s);
  @include size-line-height(s);
}

.a-tag::before {
  content: "#";
  color: $color-main-600;
  font-size: rem(14);
}