.o-article {
  background-color: $color-light-100;
  border-radius: rem(8);
  padding: rem(16) rem(16) 0;

  position: relative;

  &:hover {
    @include box-shadow-hover;
  }

  &:hover .a-article__header {
    color: $color-main-600;
  }

  @media screen and (min-width: $size-bp-xs) {
    padding: rem(20) rem(24) 0;
  }

  @include box-shadow-default;
}