.m-reading__share-icons {
  background-color: $color-light-100;
  border-radius: 8px;

  display: none;

  position: absolute;

  width: 192px;
  height: 48px;

  top: -56px;
  right: -70%;

  @media screen and (min-width: $size-bp-s) {
    right: -30%;
  }

  @media screen and (min-width: $size-bp-l) {
    right: -5%;
  }

  @media screen and (min-width: $size-bp-xl) {
    right: 0%;
  }

  &>.icon {
    display: block;
    float: left;
  }

  @include box-shadow-default-inverse;
}