.m-services__info {}

.m-services__figure {}

.m-services__tools {
  max-height: rem(48);
  width: 100%;
  margin-bottom: rem(24);
  overflow-x: scroll;
  white-space: nowrap;

  &>.icon {
    display: inline-block;
    margin-right: rem(8);
  }

  /* Hide the scrollbar and still scroll */
  /* On webkit */
  &::-webkit-scrollbar {
    display: none;
  }

  /* For Edge */
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-overflow-style: none;
}