
@keyframes move-up {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(4px);
    }
    100% {
      transform: translateY(0px);
    }
  }

@keyframes move-down {
    0% {
      transform: translateY(4px);
    }
    50% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(4px);
    }
  }
