@mixin size-font($element) {
  @if map-has-key($size-font-map, $element) {
    font-size: map-get($size-font-map, $element);
  }
  @else {
    @warn 'This scale is not defined in the size-font map was: #{$element}';
  }
}

@mixin size-line-height($element) {
  @if map-has-key($size-line-height-map, $element) {
    line-height: map-get($size-line-height-map, $element);
  }
  @else {
    @warn 'This scale is not defined in the size-line-height map was: #{$element}';
  }
}

@mixin clearfix {
  &:after,
  &:before {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin arria-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

@mixin box-shadow-default {
  box-shadow: 0 2px 8px 0 $color-shadow-default;
}

@mixin box-shadow-hover {
  box-shadow: 0 6px 28px -4px $color-shadow-hover;
}

@mixin box-shadow-full {
  box-shadow: 0 2px 8px 0 $color-shadow-full;
}

@mixin box-shadow-default-inverse {
  box-shadow: 0 0px 28px -2px $color-shadow-inverse;
}